  <aside class="bg-dark" id="technical">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Part List</h2>
              <table class="parts">
                <tr>
                  <th>Part</th>
                  <th>Part Number</th>
                  <th>Source Vehicle</th>
                </tr>
                <tr>
                  <td>Headers</td>
                  <td>60305007000</td>
                  <td>2016 KTM 1290 Super Adventure</td>
                </tr>
                <tr>
                  <td>Rear Shock</td>
                  <td>15187N2501</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
                <tr>
                  <td>Forks</td>
                  <td>14187C20</td>
                  <td>2007 KTM 950 Supermoto</td>
                </tr>
                <tr>
                  <td>Splash/fork protector</td>
                  <td>62501094000</td>
                  <td>2007 KTM 950 Supermoro</td>
                </tr>
                <tr>
                  <td>Fender</td>
                  <td>6250801000033B</td>
                  <td>2011 KTM 990 Supermoto R</td>
                </tr>
                <tr>
                  <td>Brake line distributor</td>
                  <td>59491-09300</td>
                  <td>1986 Suzuki GV1400</td>
                </tr>
                <tr>
                  <td>Footpegs, left &amp; right</td>
                  <td>60003040133</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
                <tr>
                  <td>Footpeg mounts</td>
                  <td>6030310109533S</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
                <tr>
                  <td>Bottom chain guide</td>
                  <td>60303070000</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
                <tr>
                  <td>Gear selector/shifter</td>
                  <td>6003403104433</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
                <tr>
                  <td>Side stand</td>
                  <td>6030312310030</td>
                  <td>2014 KTM 1190 Adventure</td>
                </tr>
                <tr>
                  <td>SAS elimination kit</td>
                  <td> - </td>
                  <td>Any LC8 KTM (aftermarket)</td>
                </tr>
                <tr>
                  <td>Brake pedal</td>
                  <td>58703060044</td>
                  <td>2002 KTM Duke II 640</td>
                </tr>
                <tr>
                  <td>61mm fork brace - fender mount</td>
                  <td> - </td>
                  <td>Harley Davidson Sportster\XL883\XL1200\Dyna (aftermarket)</td>
                </tr>
                <tr>
                  <td>Clutch slave cylinder</td>
                  <td>Oberon CLU-0121</td>
                  <td>Any LC8 KTM (aftermarket)</td>
                </tr>
                <tr>
                  <td>Bars</td>
                  <td>76002001000</td>
                  <td>2014 KTM Duke 690</td>
                </tr>
                <tr>
                  <td>Handguards</td>
                  <td>6030217910030</td>
                  <td>2016 KTM 690 Enduro</td>
                </tr>
                <tr>
                  <td>Caliper spacers</td>
                  <td>6111302200001</td>
                  <td>2008 KTM 690 SMC</td>
                </tr>
                <tr>
                  <td>Crash cage</td>
                  <td>SW-MOTECH SBL.04.430.10000</td>
                  <td>2014 KTM 1290 Superduke (aftermarket)</td>
                </tr>
                <tr>
                  <td>Front wave rotors</td>
                  <td>61309960000</td>
                  <td>2014 KTM 1290 Superduke (PowerParts)</td>
                </tr>
                <tr>
                  <td>Turn indicators</td>
                  <td>Rizoma - FR026B</td>
                  <td>Universal (aftermarket)</td>
                </tr>
                <tr>
                  <td>Front brake lines</td>
                  <td>Venhill - UNI-PHP-1</td>
                  <td>Universal (aftermarket)</td>
                </tr>
              </table>
          </div>
      </div>
  </aside>
