  <aside class="bg-dark" id="technical">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Part List</h2>
              <table class="parts">
                <tr>
                  <th>Part</th>
                  <th>Part Number</th>
                  <th>Source Vehicle</th>
                </tr>
                <tr>
                  <td>Headers</td>
                  <td>60305007000</td>
                  <td>2014 KTM 1190 Adventure</td>
                </tr>
                <tr>
                  <td>Rear Shock</td>
                  <td>15187N2501</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
                <tr>
                  <td>Forks</td>
                  <td>14187C20</td>
                  <td>2007 KTM 950 Supermoro</td>
                </tr>
                <tr>
                  <td>Splash/fork protector</td>
                  <td>62501094000</td>
                  <td>2007 KTM 950 Supermoro</td>
                </tr>
                <tr>
                  <td>Fender</td>
                  <td>6250801000033B</td>
                  <td>2011 KTM 990 Supermoto R</td>
                </tr>
                <tr>
                  <td>Brake line splitter</td>
                  <td>-</td>
                  <td>1986 Suzuki GV1400</td>
                </tr>
                <tr>
                  <td>Footpegs, left &amp; right</td>
                  <td>60003040133</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
                <tr>
                  <td>Footpeg mounts</td>
                  <td>6030310109533S</td>
                  <td>2014 KTM 1190 Adventure R</td>
                </tr>
              </table>
          </div>
      </div>
  </aside>
