<section class="no-padding" id="gallery">
    <div class="container-fluid">
        <div class="row no-gutter">
				{% for image in site.static_files %}
						{% if image.path contains 'gallery/thumb' %}
								<div class="col-lg-4 col-sm-6">
										<a href="/img/gallery/large/{{image.name}}" class="gallery-box" data-lightbox="main">
											<div class="img-box" style="background-image: url('{{ site.baseurl }}{{ image.path }}')">
											</div>
										</a>
								</div>
						{% endif %}
				{% endfor %}
        </div>
    </div>
</section>
