<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>That KTM 1290 SM LOL? Yeah.</h1>
            <hr>
            <p>In 1979, ABC commissioned a made-for-TV event called "Superbikers," intended to find the ultimate all-around motorcycle racer by putting all star riders from different genres of racing on a single track. Flat track racing, motocross, road racing.</p>
            <p>The idea of Supermoto was born.</p>
        </div>
    </div>
</header>
