<section id="highlights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Highlights</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Suspension!</h3>
                    <p class="text-muted">Front travel: 7in (+2.5).<br/>Rear travel: 7.5in (+3).<br/>Ground clearance: 8in (+2).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Sane Weight</h3>
                    <p class="text-muted">No gain.<br/> Dry: 415lbs (+0).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Comfort</h3>
                    <p class="text-muted">1190 ADV pegs. <br/>Duke 690 bars.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>OEM Reliability</h3>
                    <p class="text-muted">95% OEM part list.<br/>All riders aids preserved.</p>
                </div>
            </div>
        </div>
    </div>
</section>
