<section id="highlights">
    <div class="container quote">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">"Some people will tell you that slow is good - and it may be, on some days - but I am here to tell you that fast is better. " - Hunter S. Thompson</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Suspension</h3>
                    <p class="text-muted">Increased suspension travel and overall ground clearance were primary goals for this build.<br/><br/>Front travel: 7in (+2.5).<br/>Rear travel: 7.5in (+3).<br/>Ground clearance: 8in (+2).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Engine</h3>
                    <p class="text-muted">Aftermarket fueling aid was a requirement after fitting 1190 ADV headers.<br/><br/>Bazzaz ZFi fueling controller +<br/>Bazzaz TC +<br/>Bazzaz Z-AFM tuner</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Comfort</h3>
                    <p class="text-muted">With additional ground clearance, supermoto ergonomics were now a reality.<br/><br/>Custom rearset plates<br/>ADV style pegs<br/>Wider bars + handguards</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>OEM Feel</h3>
                    <p class="text-muted">With almost every part taken from the KTM catalog, the result is surprisingly clean.<br/><br/>Parts availability +<br/>Rider aids preserved</p>
                </div>
            </div>
        </div>
    </div>
</section>
