  <aside  id="media">
      <div class="container text-center">
        <div class="call-to-action">
          <h3>Media</h3>
          <hr class="primary" />
          <p>Curious minds can read the story on <a href="http://www.motorcycle.com/manufacturer/ktm/super-duke-r.html" target="_blank">Motorcycle.com</a>. Below are some videos:</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/2cZzy9vk1uo" frameborder="0" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/aLij34S8nPY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </aside>
